---
import PageLayout from '../layouts/PageLayout.astro'
---

<PageLayout
  title="About me"
  subtitle="Some facts about me, random and not-so-random."
  description="Some facts about me, random and not-so-random."
  featured_image="/images/site/motley-scrimmage.jpg"
>
  <img src="/images/site/wade-weird-al.jpg" alt="Wade with Weird Al Yankovic" class="rounded-md mb-6" />

  <h2>Did You Know?</h2>

  <p>Here's some stuff about me that you might not know:</p>

  <ul>
    <li>I picked up playing ice hockey as a defenseman in my late 20s, and started playing goalie when I turned 40</li>
    <li>I interviewed Jon Stewart for my college newspaper (shortly before he joined <em>The Daily Show</em>)</li>
    <li>I ran into "Weird Al" Yankovic in a souvenir store in Edinburgh, Scotland</li>
    <li>I have traveled to Canada, The Netherlands, England, Scotland, France, Finland, Spain, Portugal, Ireland, and Belarus</li>
    <li>I have performed improv professionally in: Raleigh, Chicago, Los Angeles, Portland OR, Seattle, Dallas, San Antonio, Houston, Indianapolis, Buffalo, Washington DC, and Richmond, among other places</li>
    <li>I am an advisor for <a href="https://momentumlearn.com">Momentum Learning</a> in Durham, and have hired several Momentum graduates</li>
    <li>I was manager / artistic director of <a href="https://cszsa.com">ComedySportz San Antonio</a> for two years</li>
    <li>I have held advisory positions at: <a href="https://isport360.com/">iSport360</a>, <a href="https://learnplatform.com/">Learn Platform</a>, and <a href="https://www.epifany.com">Epifany</a></li>
    <li>I am not on Facebook or Twitter</li>
    <li>I have a goalie mask is painted in a <em>Hitchhiker's Guide To The Galaxy</em> theme</li>
    <li>I take my family Christmas card photo every year in a different hockey jersey</li>
    <li>I produced an improv festival that featured future Saturday Night Live star Vanessa Bayer</li>
    <li>I have performed improv on the home court of the NBA's San Antonio Spurs</li>
    <li>While in college, I performed in the shadow cast of <em>The Rocky Horror Picture Show</em></li>
    <li>I was not the inspiration for the Ben &amp; Jerry's flavor "Minter Wonderland", but I should have been</li>
    <li>My Github User ID is #955</li>
    <li>I used to write reviews of WCW wrestling shows for <a href="http://ddtdigest.com">DDT Digest</a></li>
  </ul>
</PageLayout>
