---
import PageLayout from '../layouts/PageLayout.astro'
---

<PageLayout
  title="Thank You!"
  subtitle="Your message was sent successfully."
  description="Your message to Wade has been sent."
  featured_image="/images/site/contact.jpg"
>
  <p>Thank you for contacting Wade. If you need to get in touch directly, feel free to also email <code>wade</code> AT <code>wademinter</code> DOT <code>com</code>.</p>
</PageLayout>
